:root {
  --whiteColor: #fff;
  --greyColor: #f1f1f1;
  --accentColor: #fcb9b2;
  --accentColorLight: #fcc9c4;
  --blackColor: #333;
  --paddingMedium: 1rem;
  --paddingLarge: 2rem;
  --paddingXLarge: 3rem;
  --iconsizeLarge: 2.5rem;
}
html,
body,
main,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}
html {
  height: 100%;
  font-size: 16px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  height: 100%;
  background: var(--accentColor);
  font-family: 'Roboto Slab', serif;
}
main {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background: var(--greyColor);
  overflow: hidden;
  border: 2px solid var(--blackColor);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
}
a {
  color: var(--accentColor);
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s color;
}
a:hover {
  color: var(--accentColorLight);
}
.underline {
  padding: 0 2px;
  box-shadow: inset 0 -0.2rem 0 0 var(--accentColor);
  transition: box-shadow 0.2s;
}
.underline:hover {
  box-shadow: inset 0 -2.5rem 0 0 var(--accentColor);
}
.content {
  position: relative;
  height: 100%;
}

/* SELF */
.self {
  padding: var(--paddingMedium) var(--paddingXLarge) var(--paddingMedium)
    var(--paddingLarge);
  /* padding-left: var(--paddingLarge); */
  border-bottom: 2px solid var(--blackColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons a {
  font-size: var(--iconsizeLarge);
  margin-right: 0.2rem;
}

/* INTRO */
.intro {
  padding: var(--paddingMedium) var(--paddingLarge);
  border-bottom: 2px solid var(--blackColor);
  display: flex;
}

.intro article {
  width: 50%;
}

/* PROJECTS */
.projects {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.project__card {
  width: 50%;
  height: 18rem;
  padding: 1rem;
  box-sizing: border-box;
  line-height: 2rem;
  border-bottom: 2px solid var(--blackColor);
}
.project__card:nth-child(odd) {
  border-right: 2px solid var(--blackColor);
}

.project__image {
  position: relative;
  height: 100%;
}
.project__image:hover svg {
  transform: translate(-50%, -115%);
}
.project__image svg {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s transform;
}

.project__image:hover .overlay {
  opacity: 1;
}

.project__image .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s opacity;
}

.project__image img {
  margin: 0 auto;
  display: block;
}

.project__description {
}

.project__links {
  display: flex;
  justify-content: center;
}

.project__links .project__demo {
  margin-right: 1rem;
}

/* ARTICLES */
.articles {
}
