.rss {
  position: relative;
  margin-bottom: 7rem;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05),
    0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
}
.medium-widget-article__column {
  display: flex;
}
.medium-widget-article__image {
  -webkit-box-flex: 1.7;
  -ms-flex: 1.7;
  flex: 1.7;
}
.medium-widget-article__title {
  color: $grey;
  font-size: 1.8em;
}
.medium-widget-article__description {
  color: $grey;
}
.medium-widget-article__content {
  padding: 2rem 1rem 2rem;
}
