.navbar-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  font-family: 'Montserrat', Open Sans, Segoe UI, sans-serif;
  color: var(--text-main);

  @include mobile {
    justify-content: center;
    width: 75%;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    width: 286px;
    font-size: 1.2em;
    margin-top: 40px;

    @include mobile {
      font-size: 1em;
    }

    a {
      position: relative;
      text-decoration: none;
      color: var(--text-main);

      &:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: var(--blue);
        content: '';
        transition: width 0.2s;
      }

      &:hover {
        color: var(--blue);

        &:after {
          width: 100%;
        }
      }
    }
  }
}
