@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    max-width: 1024px;
  }
}

.btn {
  @apply px-8 py-2 text-sm text-center transition-colors duration-200 bg-white border rounded-md text-blue-550 border-blue-550 hover:text-white hover:bg-blue-550;
}

.timeline > div:first-child {
  margin-top: 75px;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@keyframes slide-up {
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.hero-title {
  font-size: 1.75rem;
  line-height: 1.2;
}

.hero-subtitle {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .hero-title {
    font-size: 5vmin;
  }

  .hero-subtitle {
    font-size: 1vmin;
  }
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 6vmin;
  }

  .hero-subtitle {
    font-size: 2vmin;
  }
}

.slide-up-1 {
  animation: slide-up 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s forwards;
}

.slide-up-2 {
  animation: slide-up 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1s forwards;
}
