$purple: #747fe0;
$grey: #525f7f;
$lightGrey: #f0f0f0;
$fadedPurple: #5a5d7a;
$fadedBlue: #7795f8;
$highlighterGreen: #92eac0;
$linkTeal: #35feff;
$backgroundColor: #f6f9fc;
$blue: #004ffe;
$fadedBlue: #5a8dff;
$lightBlue: #62afef;
$verylightBlue: #b6deff;
$darkBlue: #282c34;
$linkRed: #e06c75;
$green: #98c379;



