body.light-theme {
  --app-bg: #f6f9fc;

  --white: #f6f6f6;

  --blue: #0002ff;
  --blue-rgb: 0, 82, 255;
  --blue-light: #4069f9;
  --blue-light-rgb: 64, 105, 249;

  --terminal-bg: #0d0f17;
  --project-card: #fff;
  --project-svg: url('../images/project-background-white.svg');

  --about-box-shadow: 0 50px 100px rgba(50, 50, 93, 0.15),
    0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.12);
  --project-box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05),
    0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);

  --text-main: #333d54;
  --text-main-rgb: 51, 61, 84;
  --text-step1: #b0b2b6;
  --text-contrast: #f6f6f6;
}

// DARK COLORS
// @media (prefers-color-scheme: dark) {
body.dark-theme {
  --app-bg: #0d0f16;

  --white: #f6f6f6;

  --blue: #0052ff;
  --blue-light: #4069f9;
  --blue-light-rgb: 64, 105, 249;

  --terminal-bg: #161618;
  --project-card: #161618;
  --project-svg: url('../images/project-background-black.svg');

  --about-box-shadow: 0px 16px 13px -10px rgba(0, 0, 0, 0.15);
  --project-box-shadow: 0px 16px 13px -10px rgba(0, 0, 0, 0.15);

  --text-main: #f6f6f6;
  --text-main-rgb: 246, 246, 246;
  --text-step1: #b0b2b6;
  --text-contrast: #333d54;
}
// }
