@import './fonts/camphor';
@import 'reset';
@import 'colors';
@import 'breakpoints';
@import 'scrollbar';

@import '../components/Navbar';
@import '../components/Hero';
@import '../components/About';
@import '../components/Projects';
@import '../components/Contact';
@import '../components/Footer';
@import '../components/ThemeToggle';

@font-face {
  font-family: 'Monaco';
  src: url('./fonts/monaco-webfont.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

body {
  background-color: var(--app-bg);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'pnum';
  font-variant-numeric: proportional-nums;
  transition: background-color 0.25s;
}

a {
  text-decoration: none;
  color: var(--blue);
  transition: 0.1s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

#topBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 760px;
  transform: skewY(-12deg);
  transform-origin: 0;
  background-color: white;
  z-index: -999;

  @include mobile {
    height: 500px;
  }
}

.container-lg {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;

  @include mobile {
    padding: 0 20px;
  }
}

.menu-wrapper{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;

  h2,a {
    cursor: pointer;
  }
  a{
    color: var(--text-main);
    opacity: 0.5;
    transition: opacity 0.2s;
    &:after{
      border-color: transparent;
      width: 0;
      transition: all 0.2s;
    }
    &:hover{
      opacity: 1;
      &:after{
        border-color: var(--blue-light);
        width: 50px;
      }
    }
  }
}

.section-title {
  color: var(--text-main);
  font-family: 'Montserrat', Open Sans, Segoe UI, sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 80px;

  @include mobile {
    margin-bottom: 40px;
  }
}

.section-title:after {
  content: ' ';
  border: 4px solid var(--blue-light);
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 50px;
}
